/* =============================================
   GLOBAL STYLES
   ============================================= */

/*older */

/* 
:root {
  --color-bg: #f7f4ea;
  --color-text-primary: #010102;
  --color-text-secondary: #3a3a3b;

    --font-serif: 'Cormorant Garamond', 'Georgia', serif;

  --transition-smooth: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-serif);
  background-color: var(--color-bg);
  color: var(--color-text-primary);
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}  */

/*white/courier prime */

/* =============================================
   GLOBAL STYLES
   ============================================= */

@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --color-bg: #fffefe;
  --color-text-primary:#050200;
  --color-text-secondary: #3a3a3b;
  --font-serif: "Courier Prime", "Courier New", monospace;
  --transition-smooth: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-serif);
  background-color: var(--color-bg);
  color: var(--color-text-primary);
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}
